* {
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Work Sans", sans-serif;
}

body {
  color: black;
  margin: auto;
  padding: 0;
}

main {
  min-height: 100vh;
  width: calc(50vw);
  margin: auto;
  padding: 0;
}

header {
  width: calc(50vw);
  margin: auto;
  padding: 0;
}

@media print {
  body {
    width: 100%;
  }

  h2 {
    page-break-before: always;
  }

  p {
    font-family: "Merriweather", serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Merriweather", serif;
  }
}

a {
  text-decoration: underline;
  color: rgb(129, 129, 129);
}

a:hover {
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
}

article {
  margin-top: 5em;
}

body > header {
  margin-top: 5em;
}

.author,
.date {
  color: rgb(129, 129, 129);
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

h1 {
  font-size: 3.5em;
  font-weight: 600;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.perex {
  font-weight: 600;
}

p {
  font-size: 1.3em;
  letter-spacing: 0.05em;
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 1.5em;
}

/* article>p{
    text-indent: 50px;
} */
article li {
  font-size: 18px;
  line-height: 1.5em;
  letter-spacing: 0.05em;
  margin-left: 3em;
  list-style-type: none;
}

article ul li::before {
  content: " - ";
}

article ul > ul li::before {
  content: " · ";
}

ol li {
  list-style-type: upper-roman;
}

ol > ol,
ul > ul {
  margin-left: 3.5em;
  /* list-style-position: inside; */
}

article header {
  margin-bottom: 1em;
}

blockquote {
  text-align: center;
  margin-left: 1em;
  margin-right: 1em;
  font-style: italic;
}

q {
  font-style: italic;
  quotes: \201d \201e;
}

footer {
  width: 100vw;
  background-color: rgb(238, 238, 238);
  margin-top: 5em;
}

footer nav {
  text-align: center;
}

footer nav ul li {
  list-style-type: none;
  margin-left: -1em;
  font-size: 18px;
}

footer ul {
  padding-top: 1em;
  padding-bottom: 1em;
}

footer a {
  color: black;
  text-decoration: none;
}

/*   MEDIA  */

@media only screen and (min-width: 1680px) {
  main,
  header {
    width: calc(35vw);
  }
}

@media only screen and (max-width: 1280px) {
  main,
  header {
    width: calc(50vw);
  }
}

@media only screen and (max-width: 1024px) {
  main,
  header {
    width: calc(60vw);
  }
}

@media only screen and (max-width: 840px) {
  main,
  header {
    width: calc(80vw);
  }
}

@media only screen and (max-width: 520px) {
    main,
    header {
      width: calc(90vw);
    }
    h1 {
        font-size: 3em;
        font-weight: 600;
        margin-bottom: 0.5em;
      }
      
      h2 {
        font-size: 2em;
        margin-bottom: 0.5em;
      }
      
      h3 {
        font-size: 1.5em;
        margin-bottom: 0.5em;
      }
}

